*{
  font-size: 1rem;
  color: white;
}
.top {
  width: 100%;
  height: 100px;
  background-color: rgb(0, 0, 0);
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 999;
  font-family: "Josefin Sans", sans-serif;
  border: 1px solid black;
}

.topLeft,
.topRight {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topIcon {
  font-size: 20px;
  margin-right: 10px;
  color: white;
  cursor: pointer;
}

.topCenter {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topList {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  list-style: none;
}

.topListItem {
  margin-left: 10px;
  /* font-size: 18px; */
  font-weight: 300;
  cursor: pointer;
  font-size: 1.2rem !important;
}

.topListItem:hover{
    color: gray;
}

.topImg {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
  cursor: pointer;
}

.topSearchIcon {
  font-size: 18px;
  color: #666;
  cursor: pointer;
}
